<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](https://mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko) and Vadim Shestopalov (@vchulski). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

# <center>Assignment #1. Fall 2019
## <center>Exploratory data analysis of Olympic games with Pandas
    
<img src='../../img/olympic_logo.png' width=50%>

Prior to working on the assignment, you'd better check out the corresponding course material:
 - [Exploratory data analysis with Pandas](https://nbviewer.jupyter.org/github/Yorko/mlcourse_open/blob/master/jupyter_english/topic01_pandas_data_analysis/topic1_pandas_data_analysis.ipynb?flush_cache=true), the same as an interactive web-based [Kaggle Kernel](https://www.kaggle.com/kashnitsky/topic-1-exploratory-data-analysis-with-pandas)
 - first lectures in mlcourse.ai [YouTube playlist ](https://www.youtube.com/watch?v=QKTuw4PNOsU&list=PLVlY_7IJCMJeRfZ68eVfEcu-UcN9BbwiX) 
 - you can also practice with demo assignments, which are simpler and already shared with solutions: [A1 demo](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset), [solution](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset-solution)

### Your task is to:
 1. write code and perform computations in the cells below
 2. choose answers in the [webform](https://docs.google.com/forms/d/1JxhQ9Bg4OpM3E5N47ZuRbILgDuMRbvEnUbDMZK8L-NU). Solutions will be shared only with those who've filled in this form 
 3. submit answers with some email and **remember it**! This will be your ID during the course. Specify your real full name in the form as well (no nicks allowed in the final top-100 [rating](https://mlcourse.ai/rating)). If in doubt, you can re-submit the form till the deadline for A1, no problem, but stick to only one email.
 
### <center> Deadline for A1: 2019 September 15, 20:59 GMT (London time)
    
You'll get up to 10 credits for this assignment.

### How to get help
In [ODS Slack](https://opendatascience.slack.com) (if you still don't have access, fill in the [form](https://docs.google.com/forms/d/10HAN5huM996snUKjsNYyT_oOlm2uOsTKulKurb3oiNM/) mentioned on the mlcourse.ai main page), we have a channel **#mlcourse_ai_news** with announcements from the course team.
You can discuss the course content freely in the **#mlcourse_ai** channel (we still have a huge Russian-speaking group, they have a separate channel **#mlcourse_ai_rus**).

Here's how you reply in a thread (press this dialog icon to drill down into a thread):

<img src="../../img/start_a_thread.png" />

Please stick to special threads *a1_q1-5_fall2019* and *a1_q6-10_fall2019* in **#mlcourse_ai_news** for your questions on A1. Help each other without sharing correct code and answers. Our TA **Vadim @vchulski** is there to help (only in the mentioned thread, do not write to him directly).

Lastly, you can save useful messages by pinning them, further you can find pinned items on the top, just below the channel name:

<img src="../../img/pinned_item.png" />

### Assignment 
__There are ten questions about 120 years of Olympic history in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/1JxhQ9Bg4OpM3E5N47ZuRbILgDuMRbvEnUbDMZK8L-NU).__

Download the file `athlete_events.csv` from [here](https://drive.google.com/file/d/1f5v6Z2ayc7h698FG_98wP5x1Y2zZQeox/view?usp=sharing) (scraped by [rgriffin](https://www.randigriffin.com/) from www.sports-reference.com). The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [81]:
import pandas as pd
import numpy as np

In [157]:
pd.set_option('precision', 1)

In [158]:
# Change the path to the dataset file if needed. 
PATH = 'athlete_events.csv'

In [159]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1992 Olympics?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 16 and 15
- 14 and 13 
- 13 and 11
- 11 and 12

In [160]:
data[(data['Sex'] == 'F') & (data['Year'] == 1992)].describe()

             ID     Age  Height  Weight    Year
count    5178.0  5171.0  4130.0  4088.0  5178.0
mean    70713.3    22.9   168.3    59.5  1992.0
std     38715.4     5.2     8.8     9.9     0.0
min         5.0    12.0   136.0    30.0  1992.0
25%     37013.8    19.0   163.0    53.0  1992.0
50%     71735.5    23.0   168.0    59.0  1992.0
75%    103505.0    26.0   174.0    65.0  1992.0
max    135531.0    53.0   204.0   145.0  1992.0

In [161]:
data[(data['Sex'] == 'M') & (data['Year'] == 1992)].describe()

             ID      Age  Height  Weight     Year
count   11235.0  11198.0  9108.0  9168.0  11235.0
mean    67191.5     25.0   179.7    76.3   1992.0
std     39139.4      5.0     9.5    13.2      0.0
min         1.0     11.0   140.0    45.0   1992.0
25%     33822.0     22.0   174.0    68.0   1992.0
50%     66897.0     24.0   180.0    75.0   1992.0
75%    101272.0     27.0   186.0    84.0   1992.0
max    135545.0     62.0   223.0   176.5   1992.0

__2. What was the percentage of male basketball players among all the male participants of the 2012 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 0.2
- 1.5 
- 2.5
- 7.7

In [162]:

a = len(data[(data['Sport'] == 'Basketball') & (data['Sex'] == 'M') & (data['Year'] == 2012)].groupby('Name'))

In [163]:
b = len(data[(data['Year'] == 2012) & (data['Sex'] == 'M')].groupby('Name'))

In [167]:
print(round(a / b * 100, 1))

2.5

__3. What are the mean and standard deviation of height for female tennis players who participated in the 2000 Olympics? Round the answer to the first decimal.__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 171.8 and 6.5
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [227]:
data_tennis = np

In [232]:
for i in data[(data['Sex'] == 'F') & (data['Sport'] == 'Tennis') & (data['Year'] == 2000)].groupby(['Name']):

In [235]:
data[(data['Sex'] == 'F') & (data['Sport'] == 'Tennis') & (data['Year'] == 2000)].groupby(['Name']).agg[np.mean]

TypeError: 'method' object is not subscriptable

__4. Find a sportsman who participated in the 2006 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- Judo
- Bobsleigh 
- Skeleton
- Boxing

In [272]:
a = 0
name_find = ''
sport_find = ''
for name, sub_df in data[(data['Year'] == 2006)].groupby('Name'):
    if sub_df['Weight'].mean() > a:
        a = sub_df['Weight'].mean()
        name_find = name
        sport_find = sub_df['Sport']
print(a)
print(name_find)
print(type(sport_find))
print(sport_find.item())

127.0
Patrick R. Antaki
<class 'pandas.core.series.Series'>
Skeleton

__5. How many times did John Aalberg participate in the Olympics held in different years?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 0
- 1 
- 2
- 3

In [279]:
for name, sub_df in data.groupby('Name'):
    if name == 'John Aalberg':
        print(sub_df['Year'])

18    1992
19    1992
20    1992
21    1992
22    1994
23    1994
24    1994
25    1994
Name: Year, dtype: int64

__6. How many gold medals in tennis did sportspeople from the Switzerland team win at the 2008 Olympics? Count every medal from every sportsperson.__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- 0
- 1 
- 2
- 3

In [311]:
for a in data[(data['Year'] == 2008) & (data['Sport'] == 'Tennis') & (data['Team'] == 'Switzerland')].groupby('Medal'):
    print(a)

('Gold',             ID                Name Sex   Age  Height  Weight         Team  \
67290    34396       Roger Federer   M  26.0   185.0    80.0  Switzerland
257672  129042  Stanislas Wawrinka   M  23.0   183.0    79.0  Switzerland

        NOC        Games  Year  Season     City   Sport                 Event  \
67290   SUI  2008 Summer  2008  Summer  Beijing  Tennis  Tennis Men's Doubles
257672  SUI  2008 Summer  2008  Summer  Beijing  Tennis  Tennis Men's Doubles

       Medal
67290   Gold
257672  Gold  )

__7. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- Yes
- No

In [320]:
for a in data[(data['Year'] == 2016) & (data['Team'] == 'Spain')].groupby('Medal'):
    print(len(a[1]))

17
7
19

In [321]:
for a in data[(data['Year'] == 2016) & (data['Team'] == 'Italy')].groupby('Medal'):
    print(len(a[1]))

24
8
38

__8. What age category did the fewest and the most participants of the 2008 Olympics belong to?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45) and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [336]:
first = 0
second = 0
third = 0
fourth = 0

for age, a in data[(data['Year'] == 2008)].groupby('Age'):
    if (age >= 15) & (age < 25):
        first += len(a)
    else:
        if (age >= 25) & (age < 35):
            second += len(a)
        else: 
            if (age >= 35) & (age < 45):
                third += len(a)
            else: 
                if (age >= 45) & (age <= 55):
                    fourth += len(a)
print(first)
print(second)
print(third)
print(fourth)

6294
6367
790
119

__9. Is it true that there were Summer Olympics held in Atlanta? Is it true that there were Winter Olympics held in Squaw Valley?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [351]:
for team, a in data[(data['Season'] == 'Summer')].groupby('Team'):
    if team == 'Atlanta':
        print(team)

Atlanta

In [352]:
for team, a in data[(data['Season'] == 'Winter')].groupby('Team'):
    if team == 'Squaw Valley':
        print(team)

__10. What is the absolute difference between the number of unique sports at the 1986 Olympics and 2002 Olympics?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- 3 
- 10
- 15
- 27

In [369]:
for sport, a in data[(data['Year'] == 2002)].groupby('Sport'):
    print(sport)

Alpine Skiing
Biathlon
Bobsleigh
Cross Country Skiing
Curling
Figure Skating
Freestyle Skiing
Ice Hockey
Luge
Nordic Combined
Short Track Speed Skating
Skeleton
Ski Jumping
Snowboarding
Speed Skating

That's it! Now go and do 30 push-ups! :)